<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offres d'e-commerce</title>
</head>
<body>
  
  <div class="offers-wrapper">
    <button class="nav-button left" (click)="previousOffer()">&#9664;</button>
    <div class="offers-container">
        <h2>Nos Offres Spéciales</h2>
        <div class="offer-item" *ngFor="let offer of offers; let i = index" [class.active]="i === currentOfferIndex">
            <div class="offer-details">
               
                
                <div class="offer-content">
                  <h3>{{ offer.title }}</h3>
                  <p>{{ offer.description }}</p>
                  <div class="offer-image">
                    <img [src]="offer.image" alt="{{ offer.title }}" class="product-image">
                </div>
                <div class="product-price">{{ offer.price }} € Au lieu De ...</div>
               <p>{{ offer.expiryDate }}</p> 
                  <button (click)="navigateToProduct(offer.productId)">Voir le produit</button>
                  
              </div>
                
            </div>
        </div>
    </div>
    <button class="nav-button right" (click)="nextOffer()">&#9654;</button>
</div>

</body>
</html>