<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home"><i class="bi bi-house-fill" i18n></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feedback"><i class="bi bi-chat-text" i18n></i>Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products"><i class="bi bi-pc-display" i18n></i>Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart"><i class="bi bi-cart" i18n></i>Cart</a>
          </li>
      
        </ul>

       
        <!--
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)] ="searchProductTitle" >
          <button class="btn btn-outline-success" type="submit" routerLink="/search/searchProductTitle" i18n >Search</button>
        </form>
      -->
      <form class="d-flex" role="search" (ngSubmit)="searchProducts()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchProductTitle" name="searchProductTitle" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="btn btn-outline-primary btn-sm p-1">
            <a class="nav-link" routerLink="/login">
              <i class="bi bi-login" i18n></i>
              Login
            </a>
          </div>
        </li>
      </ul>
      
      

      

        <div>
      </div>

      </div>
    </div>
  </nav>
 
  
  <router-outlet />
</div>
<!--
<div class="container">
  <app-search></app-search>
</div>
-->


<!--
  <app-home></app-home>
-->

<!---->



<app-footer></app-footer>


