<div class="container p-4">

  <h5 class="text-center text-info font-weight-bold display-4">Products</h5>
  <div class="card">
    <div class="card-body d-flex flex-wrap">
      <div class="card" *ngFor="let product of products" style="width: 400px;" (click)="navigateToProductDetail(product.id)">
        <div class="card-body">
          <img [src]="product.image" [alt]="product.name" class="img-thumbnail">
          <br>
          <div>
            <br>
            <div class="row">
              <div class="col-sm-8">
                <h5>{{product.name}}</h5>
              </div>
              <div class="col-sm-3">
                <h6>{{product.price}} $</h6>
              </div>
            </div>
            <div>
              <p class="text-muted">{{product.title}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row mb-3" *ngFor="let product of products">
        <div class="col-sm-2">
          <img [src]="product.image" alt="{{product.name}}" width="125px" height="125px">
        </div>
        <div class="col-sm-7">
          <h3>{{product.name}}</h3><br>
          <p class="text-muted">{{product.title}}</p>
        </div>
        <div class="col-sm-3 ">
          <div>
            <h3>{{product.price}} MAD</h3>
          </div>
          <div>
            <button class="btn btn-outline-info">
              Add to Cart
            </button>
          </div>
        </div>
        <hr>
      </div>-->
    </div>
  </div>
</div>
<br>
<br>
<br>
