.container {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 25px 200px;
}

.filters button {
  width: 100px;
}

.products {
  margin: 0 100px;
  border-top: 2px solid #999;
}

.product-item {
  border-bottom: 2px solid #999;
  padding: 20px 25px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product img {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  margin-right: 20px;
}

.product .product-details {
  display: flex;
  align-items: center;
}

.product .product-info {
  margin-left: 25px;
}

.product .name {
  font-size: 22px;
  font-weight: bold;
}

.product .description {
  margin-top: 3px;
  font-size: 18px;
}

.product .price {
  font-size: 25px;
  color: #555;
}

.product .add-to-cart {
  padding: 10px;
  width: 150px;
}

.active {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin: -3px -8px 0 -8px;
  padding-bottom: 5px;
  padding: 0 8px 5px 8px;
  color: #444;
  border-bottom: 2px solid #e51e1e;
  text-decoration: none;
}
