/* product.component.css */

.product-list {
    width: 100%;
  }
  
  .product-item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .product-image {
    flex: 0 0 100px; /* Définir une largeur fixe pour l'image */
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    flex-grow: 1;
    padding-left: 10px;
  }

  /* product.component.css */


  .form-container {
    width: 600px; /* Largeur du formulaire */
    padding: 20px;
    background-color: #fff; /* Couleur de fond du formulaire */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  /* Styles pour les boutons */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  