
<br>
  <br>
  <br>
<div class="container">
    <div class="hero">
  
    <ul class="robot-parts-cta" style="color: blueviolet;">
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'phone'}" class="part" style="color: blue;">
          <img src="https://i.pinimg.com/564x/3e/b2/6e/3eb26ea6b91a6ae8ac69bc165f7931b1.jpg" alt="Smart Phone" />
          <div>Smart Phone</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'tablet'}" class="part" style="color: blue;" >
          <img src="https://i.pinimg.com/564x/84/37/ca/8437ca27bf4f6382204e5ba19113819c.jpg" alt="Tablet" />
          <div>Printers</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'smarttv'}" class="part" style="color: blue;">
          <img src="https://i.pinimg.com/564x/b2/08/6e/b2086edbc07007cb7c89c073d6bd69b9.jpg" alt="Smart TV" />
          <div>Smart TV</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'HeadPhone'}" class="part" style="color: blue;">
          <img src="https://i.pinimg.com/564x/be/f7/02/bef702d17bcfd235f773de1a221c6a0d.jpg" alt="Smart TV" />
          <div>HeadPhone</div>
        </a>
      </li>
    </ul>
  </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>